*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#nav{
    border: 1px solid;
    display: flex;
    height: 6em;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
}
#sub-nav2{
    /* border: 1px solid; */
    font-size: 18px;
    color: #000;
    font-weight: 800;
    margin-left: 5em;
}
#sub-nav3{
    /* border: 1px solid; */
    font-size: 13.5px;
    font-weight: 400;
    margin-top: 3em;
    margin-left: -14em;
}
#sub-nav4{
    border: 1px solid rgb(232 232 217);
    border-radius: 15px;
    width: 28em;
    height: 3em;
    margin-left: 4em;
    background-color:rgb(248, 248, 248);
}
#sub-nav5{
    /* border: 2px solid; */
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin-left: 3em;
}
#sub-nav6{
    border: 2px solid;
    border-radius: 15px;
    margin-left: 3em;
    background-color: rgb(12, 131, 31);
    color: #fff;
    height: 3em;
    width: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sub-nav6 i{
    font-size: 25px;
}
#div1{
    /* border: 1px solid; */
    margin-top: 1em;
    height: 200px;
    width: 112%;
    display: flex;
    justify-content: space-between;
}
#div2{
    margin-top: 1em;
    display: flex;
}
#div3{
    margin-top: 1em;
    display: flex;
}
#div4{
    margin-left: 2em;
    font-size: 24px;
}
#div5{
    /* border: 2px solid; */
    width: 150%;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
 .card {
    border: 0.5px solid rgb(232, 232, 232);
    background-color: #fff ;
}
 .card .img{
    height: 200px;
    width: 200px;
}
 .card  .img1{
    margin-top: -0.2em;
}
.card .d{
    font-size: 9px;
    color: #000;
    font-weight: 700;
    margin-top: -2em;
    text-transform: uppercase;
}
 .card .p{
    font-size: 13px;
    font-weight: 600;
    margin-top: 1em;
}
.card .span{
    font-size: 13px;
    color: #666;
}
 .card .d1{
    font-size: 13px;
    color: rgb(31, 31, 31);
    font-weight: 600;
    margin-top: 1em;
}
 .card .d2{
    font-size: 13px;
    color: #666;
    text-decoration: line-through;
}
 .card .a{
    border: 1px solid rgb(49, 134, 22);
    border-radius: 5px;
    position: absolute;
    height: 2em;
    width: 4em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(49, 134, 22);
    background-color: rgb(247, 255, 249);
    margin-left: 6em;
    margin-top: -2.5em;
}
#div6{
    /* margin-left: 2em; */
    font-size: 24px;
    margin-top: 1em;
    font-weight: bold;
}
#div7{
    /* border: 2px solid; */
    width: 150%;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
#div8{
    /* margin-left: 2em; */
    font-size: 24px;
    margin-top: 1em;
    font-weight: bold;
}
#div9{
    /* border: 2px solid; */
    width: 150%;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}